body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  position: relative;
  height: 281px;
  width: 512px;
  margin: 0 auto;
  margin-top: 160px;
  text-align: center;
  background-color:cadetblue;
  border-radius: 10px;
}

.game > .player{
  position: absolute;
  top: -21px;
  left: 50%;
  height: auto;
  font-size: 30px;
  transform: translateX(-50%);
}

.game > div{
  display: inline-block;
  height: 100%;
}

.game > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.game-info {
  margin-left: 20px;
}
